/* background colour */
.bgclr-accent {
  background-color: #2b7a78;
  /* background-color: #787878; */
}
.bgclr-base {
  background-color: #3aafa9;
  /* background-color: #b2b2b2; */
}
.bgclr-light2 {
  background-color: #def2f1;
  /* background-color: #eeeeee; */
}
.bgclr-light1 {
  background-color: #feffff;
  /* background-color: #ffffff; */
}
.bgclr-n {
  background-color: transparent;
}

/* text colour */
.colr-dark {
  color: #17252a;
}
.colr-light1 {
  color: #feffff;
}
.colr-light2 {
  color: #def2f1;
}

.input-dark {
  background-color: #444;
  border-color: transparent;
  color: #ffffff;
}

.input-dark:focus {
  color: #ffffff;
  background-color: #555;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-dark::-webkit-input-placeholder {
  color: #888;
}
.input-dark::-moz-placeholder {
  color: #888;
}
.input-dark:-ms-input-placeholder {
  color: #888;
}
.input-dark:-moz-placeholder {
  color: #888;
}
