/* remove default link styles */
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* nav style */
nav {
  text-align: center;
  font-weight: bold;
}
nav span {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

/* image styles */
img {
  max-height: 100%;
  margin-left: 5px;
}

.logo {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  border: 3px solid #292929;
  cursor: pointer;
  user-select: none;
}

.avatar {
  max-height: 70%;
  margin-right: 10px;
}

.icon {
  height: 1rem;
  margin-right: 5px;
}

/* body content - board */

/* body content - bar */

/* body content - card */
.card {
  padding: 50px;
  min-height: max-content;
  min-width: min-content;
  width: 20vw;
  border-radius: 10px;
  text-align: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.form-group {
  display: grid;
  grid-template-rows: repeat(2, auto auto);
  margin-bottom: 10px;
  text-align: start;
}
.form-group input {
  font-size: 20px;
  padding: 10px 5px;
  margin-bottom: 4px;
}
.error-outline {
  border-color: 1px solid red;
}
.login-error {
  border: 1px solid rgb(255, 70, 70);
  background-color: rgba(255, 216, 216, 0.596);
  color: rgb(255, 70, 70);
  padding: 4px;
  margin-bottom: 20px;
  text-wrap: wrap;
  visibility: hidden;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}
.error-box {
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  animation: shake 0.5s ease-in-out;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

/* body content - form input */
.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}

/* button styles */
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}
button:hover {
  cursor: pointer;
}
.gobutton:hover {
  background-color: greenyellow;
}
.backbutton:hover {
  background-color: salmon;
}

/* background colour */
.bgclr-accent {
  background-color: #2b7a78;
  /* background-color: #787878; */
}
.bgclr-base {
  background-color: #3aafa9;
  /* background-color: #b2b2b2; */
}
.bgclr-light2 {
  background-color: #def2f1;
  /* background-color: #eeeeee; */
}
.bgclr-light1 {
  background-color: #feffff;
  /* background-color: #ffffff; */
}
.bgclr-n {
  background-color: transparent;
}

/* text colour */
.colr-dark {
  color: #17252a;
}
.colr-light1 {
  color: #feffff;
}
.colr-light2 {
  color: #def2f1;
}
