/* overall */
body {
  min-width: 500px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #3aafa9;
  font-family: "Public Sans", sans-serif;
  /* background-color: #b2b2b2; */
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header bar */
.header-bar {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 10px;
  padding: 10px 20px;
}
.header-grp {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 10px;
}
.header-btn {
  height: 2rem;
  background: none;
}
.header-btn:hover {
  outline: 1px solid #17252a;
}

/* body content container*/
.body-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
/* login page */
.login-btn {
  outline: 1px solid #3aafa9;
  background-color: transparent;
  padding: 1px 20px;
  height: 2rem;
  align-self: flex-end;
}
.login-btn:hover {
  background-color: #3aafa9;
}

/* body content - left nav */
.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 210px;
  position: relative;
  padding: 10px 20px 150px;
  font-size: 20px;
  text-align: center;
}
.protected-links {
  position: absolute;
  bottom: 80px;
  right: 40px;
  font-weight: bold;
}

/* overlay - right container */

/* app list */

/* user management */

/* footer bar */
.footer {
  height: 50px;
}
