/* overall */
body {
  min-width: 500px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #3aafa9;
  font-family: "Open Sans";
  overflow: hidden;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

/* header bar */
.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-size: 14px;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.header-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 10px;
  height: 100%;
  padding: 10px 20px;
}
.header-grp {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 10px;
}
.header-btn {
  height: 2rem;
  background: none;
}
.header-btn:hover {
  outline: 1px solid #17252a;
}

/* body content container*/
.body-content {
  padding-top: 60px;
  box-sizing: border-box;
  height: calc(100vh - 50px);
  min-height: min-content;
  overflow-y: auto;
}

/* login page */
.login-btn {
  outline: 1px solid #3aafa9;
  background-color: transparent;
  padding: 1px 20px;
  height: 2rem;
  align-self: flex-end;
}
.login-btn:hover {
  background-color: #3aafa9;
}

/* body content - left nav */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 140px;
  padding: 10px 20px 80px;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  text-align: center;
}
.protected-links {
  font-weight: bold;
}

/* overlay - right container */
.profile {
  position: fixed;
  top: 60px;
  right: 0px;
  bottom: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  min-height: 230px;
  width: min-content;
  padding: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.profile input {
  margin-bottom: 10px;
}

/* wrapper */
.content-container {
  box-sizing: border-box;
  position: relative;
  margin: 10px;
  margin-left: 150px;
  padding: 20px;
  min-height: calc(100% - 20px);
  overflow-x: auto;
}
.content-container::before {
  box-shadow: inset -5px 0px 10px 10px black;
  z-index: 1;
}

/* app list */

/* user management */
.content-wrapper {
  min-width: min-content;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
}
.grid-header {
  display: grid;
  grid-template-columns: 100px 100px 150px minmax(100px, 1fr) 50px 20px 150px;
  gap: 10px 10px;
  align-items: center;
  padding: 0 10px;
}
.edit-form-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}
.create-form-container {
  position: absolute;
  background-color: white;
  box-shadow: 0px -10px 10px 5px white;
  width: calc(100% - 40px);
  min-width: min-content;
}
.user-form {
  display: grid;
  grid-template-areas: "username password email role status gap cancel edit";
  grid-template-columns: 100px 100px 150px minmax(100px, 1fr) 50px 20px 70px 70px;
  gap: 10px 10px;
  width: 100%;
  margin: 0;
}
.form-password {
  grid-area: password;
}
.form-email {
  grid-area: email;
}
.form-status {
  grid-area: status;
  width: min-content;
}
.form-cancel {
  grid-area: cancel;
}
.form-edit {
  grid-area: edit;
}
.form-cancel button,
.form-edit button {
  width: 70px;
  display: flex;
  justify-content: center;
}
.form-username {
  grid-area: username;
}
.form-role {
  grid-area: role;
  position: relative;
}
.form-role button {
  font-size: 14px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 2px;
}
.popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 1000;
}
.popup.open {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}
.user-form input:disabled,
.user-form button:disabled,
.user-form select:disabled {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  cursor: default;
}

/* footer bar */
.footer {
  position: sticky;
  bottom: 0;
  height: 50px;
}
