/* overall */
body {
  min-width: 500px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #3aafa9;
  font-family: "Open Sans";
  /* background-color: #b2b2b2; */
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header bar */
.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  font-size: 14px;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.header-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 10px;
  width: 100vw;
  padding: 10px 20px;
  margin: 0 auto;
}
.header-grp {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 10px;
}
.header-btn {
  height: 2rem;
  background: none;
}
.header-btn:hover {
  outline: 1px solid #17252a;
}

/* body content container*/
.body-content {
  position: fixed;
  top: 60px;
  left: 100px;
  display: flex;
  flex-direction: row;
  flex: 1;
}
/* login page */
.login-btn {
  outline: 1px solid #3aafa9;
  background-color: transparent;
  padding: 1px 20px;
  height: 2rem;
  align-self: flex-end;
}
.login-btn:hover {
  background-color: #3aafa9;
}

/* body content - left nav */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 100px;
  padding: 10px 20px 80px;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  text-align: center;
}
.protected-links {
  font-weight: bold;
}

/* overlay - right container */

/* app list */

/* user management */

/* footer bar */
.footer {
  position: sticky;
  bottom: 0;
  height: 50px;
}
