/* heading font styles */

/* body content font style */
.body-content {
  font-size: 1.2rem;
  line-height: 1.75;
  color: #292929;
}

/* form font styles */
.form-control-title {
  font-size: 2rem;
  font-weight: 500;
}

/* responsive font size */
/* .display-3 {
  font-size: 4.2rem;
}

@media (max-width: 1199px) {
  .display-3 {
    font-size: 3.4rem;
  }
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 2.5rem;
  }
} */
